/* Remove default list styles and set display to inline-block */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

p {
    font-family: 'Lato', sans-serif;
}
/*nav OK */
.iconlogo {
    width: 60px;
    height: 60px;
}

.active {
    font-weight: bold !important;
}
#navigatiebar{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

}
li a{
    color: black;
    margin-left: 2rem;
    transition: transform 0.3s ease-in-out;

}
li a:hover {
    color: #499aea !important;
    transform: scale(1.1);

}

#aanmeldbtn {
    background-color: #FFA500;
    border-color: #FFA500;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

#aanmeldbtn:hover {
    font-weight: bolder;
    transform: scale(1.1);

}
#registreren{
    color: black;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}
#registreren:hover{
    color: #FFA500;
    transform: scale(1.1);
}
.fa-cart-shopping{
    margin-left: 20px;
    font-size: 20px;
    color: black;
}
.fa-cart-shopping:hover{
    color: #FFA500;
}
/*main*/
#kader {
    box-shadow: 0 0 5px 0 rgba(108, 117, 125, 0.74);
    width: 1100px;
}
#steven_willekes {
    width: 300px;
}
#volledigenaam {
    font-size: 45px;
}
#bewerken a img {
    width: 50px;
}
.titel {
    font-weight: 700;
}
/*buttons*/
.afmelden {
    background-color: #fff;
    border-color: #ED4F4F;
    color: #ED4F4F;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.375rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: 1em;
    text-decoration: none;
}
.verwijderen {
    background-color: #ED4F4F;
    border-color: #ED4F4F;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.375rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: 1em;
    text-decoration: none;
}
.afmelden:hover, .verwijderen:hover {
    background-color: #d24242;
    border-color: #d24242;
    color: white;
    font-weight: bolder;
    transform: scale(1.1);
}
/*footer*/
.contact{
    text-decoration: none;
    color: #343a40;
    font-family: 'Lato', sans-serif;
}
.contact:hover{
    font-weight: bold;
}
.linksocial{
    display: flex;
    justify-content: space-between;
    gap: 2vw
}
.nieuwsbrief{
    font-size: 0.8em;
}
.icons{
    text-decoration: none;
    color: #343a40;
    font-size: 2em;
    margin: 5px;
}