/*algemeen*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
h2{
    font-weight: bold;
}
/*nav*/
.iconlogo {
    width: 60px;
    height: 60px;
}

.active {
    font-weight: bold !important;
}
#navigatiebar{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

}
li a{
    color: black;
    margin-left: 2rem;
    transition: transform 0.3s ease-in-out;

}
li a:hover {
    color: #499aea !important;
    transform: scale(1.1);

}

#aanmeldbtn {
    background-color: #FFA500;
    border-color: #FFA500;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

#aanmeldbtn:hover {
    font-weight: bolder;
    transform: scale(1.1);

}
#registreren{
    color: black;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}
#registreren:hover{
    color: #FFA500;
    transform: scale(1.1);
}
.fa-cart-shopping{
    margin-left: 20px;
    font-size: 20px;
    color: black;
}
.fa-cart-shopping:hover{
    color: #FFA500;
}
/* Bedrijven tab */
.bedrijf{
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}
.adres{
    font-style: italic;
    font-size: 15px;
}
.card-text{
    font-weight: bold;
}
/*footer*/
.contact{
    text-decoration: none;
    color: #343a40;
    font-family: 'Lato', sans-serif;
}
.contact:hover{
    font-weight: bold;
}
.linksocial{
    display: flex;
    justify-content: space-between;
    gap: 2vw
}
.nieuwsbrief{
    font-size: 0.8em;
}
.icons{
    text-decoration: none;
    color: #343a40;
    font-size: 2em;
    margin: 5px;
}