* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

p {
    font-family: 'Lato', sans-serif;
}

/*nav OK */
.iconlogo {
    width: 60px;
    height: 60px;
}
.navbar{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.padd{
    padding-left: 28vh !important;
    padding-right: 30vh !important;
}
.active {
    font-weight: bold !important;
}
li a{
    color: black;
    margin-left: 2rem;
    transition: transform 0.3s ease-in-out;
}
li a:hover {
    color: #499aea !important;
    transform: scale(1.1);

}

#aanmeldbtn {
    background-color: #FFA500;
    border-color: #FFA500;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

#aanmeldbtn:hover {
    font-weight: bolder;
    transform: scale(1.1);

}
#registreren{
    color: black;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}
#registreren:hover{
    color: #FFA500;
    transform: scale(1.1);
}
.fa-cart-shopping{
    margin-left: 20px;
    font-size: 20px;
    color: black;
}
.fa-cart-shopping:hover{
    color: #FFA500;
}

.contact {
    margin-left: 2rem;
}

.color {
    background-color: #84b8ff;
    color: white;
}

.color:hover {
    background-color: #66a6ff;
    color: white;
}

.verstuurbtn {
    background-color: #FFA500;
    border-color: #FFA500;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.375rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: 1em;
    text-decoration: none;
}

.verstuurbtn:hover {
    background-color: #FFA500;
    border-color: #FFA500;
    color: white;
    font-weight: bolder;
    transform: scale(1.1);
}

h1{
    text-align: center;
}

.form-button {
    width: 200px;
    height: 45px;
}

.form-opmaak {
    background-color: #EDEDED;
    border: none;
    cursor: text;
}
#persoon{
    cursor: pointer;
}

/*footer*/
footer{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.contact{
    text-decoration: none;
    color: #343a40;
    font-family: 'Lato', sans-serif;
}
.contact:hover{
    font-weight: bold;
}

.nieuwsbrief{
    font-size: 0.8rem;
}
.icons{
    text-decoration: none;
    color: #343a40;
    font-size: 2em;
}