* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

p {
    font-family: 'Lato', sans-serif;
}

/*nav OK */
.iconlogo {
    width: 120px;
    height: 67px;
}

.active {
    font-weight: bold;
}

li a:hover {
    color: black;
    font-weight: bold;
}

#registreerbtn {
    background-color: #B2D2FF;
    border-color: #B2D2FF;
    width: 110px;
}

#registreerbtn:hover {
    font-weight: bolder;
    background-color: #66a6ff;
}

.contact {
    margin-left: 2rem;
}

input{
    width: 17rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid #84b8ff;
    height: 2.5rem;
    padding-left: 20px;
    color: gray;
}

.zoekbutton {
    border: 2px solid #84b8ff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2.5rem;
    width: 3rem;
    background-color: #84b8ff;
    color: white;
}

.breedte {
    width: 60%;
    margin-top: 5rem;
}

.centreer {
    display: flex;
    justify-content: center;
}

.accordion-button::after {
    background-image: url("./assets/plus.png");
}
.accordion-button:not(.collapsed)::after {
    background-image: url("./assets/min.png");
}

.accordion-item{
    border: none;
    border-bottom: 2px solid #84b8ff;
    border-radius: 0 !important;
    padding-top: 20px;
}

/*footer*/
.contact{
    text-decoration: none;
    color: #343a40;
    font-family: 'Lato', sans-serif;
}
.contact:hover{
    font-weight: bold;
}
.linksocial{
    display: flex;
    justify-content: space-between;
    gap: 2vw
}
.nieuwsbrief{
    font-size: 0.8rem;
}
.icons{
    text-decoration: none;
    color: #343a40;
    font-size: 2em;
    margin: 5px;
}



