* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#voornaam, #achternaam, #email, #password, #confirm-password {
    color: #5b6267;
    background-color: #EDEDED;
    height: 40px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    width: 100%;
}
#sign-up {
    color: #fff;
    background-color: rgba(132, 184, 255, 0.63);
    height: 40px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}
#registreren div img {
    width: 525px;
}
#akkoord_registreren {
    width: 15px;
}
#tekst_akkoord_registreren {
    font-size: 12px;
}
#registreren div img {
    width: 450px;
}
.pijl{
    position: absolute;
    margin: 50px 0 0 50px;
    font-size: 30px;
}