/* Remove default list styles and set display to inline-block */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

p {
    font-family: 'Lato', sans-serif;
}
h4{
    font-weight: bold;
}
/*nav OK */
.iconlogo {
    width: 60px;
    height: 60px;
}

.active {
    font-weight: bold;
}
li a{
    color: black;
    margin-left: 2rem;
}
li a:hover {
    color: #499aea !important;
}

#aanmeldbtn {
    background-color: #B2D2FF;
    border-color: #B2D2FF;
    color: white;
    font-weight: bold;
}

#aanmeldbtn:hover {
    font-weight: bolder;
    background-color: #66a6ff;
}
#registreren{
    color: black;
    font-weight: bold;
}
#registreren:hover{
    border-color: black;
}
/* intro OK*/
.intro {
    background-color: #B2D2FF;
    height: 35vw;
    position: relative;
}
.introtekst {
    color: white;
    position: absolute;
    right: 15vw;
}
.vrouwfoto {
    position: absolute;
    bottom: 0;
    left: 10vw;
}
.introfoto {
    width: 90%;
    height: auto;
}
.logo {
    width: 100%;
    height: auto;
}

.hoofdtitel {
    font-size: 70px;
    font-weight: bolder;
}
.hoofdtitel, .kleintitel{
    text-align: right;
}
/*counter OK*/
.counter{
    font-size: 25px;
    font-weight: bold;
}
.cijfers{
    font-size: 125px;
    padding: 0;
    margin:0;
    font-family: 'PT Serif', serif;
}

/*qr en install OK */
.tekstcont{
    text-align: right;
}
.qr {
    width: 90%;
    height: auto;
}
.googleplay {
    width: 100%;
    height: auto;
}

.applestore {
    width: 100%;
    height: auto;
}

/*Hoe */
.hwhcont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titelh1{
    font-size: 40px;
    font-weight: bold;
}
.pijl {
    width: 15px;
    height: 15px;
}
.hoe {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.hoe:hover {
    font-weight: bolder;
    color: #ED4F4F;
}

.scherm {
    width: 340px;
    height: 452px;
    transform: rotate(10deg);
}

/*mathcmakers*/
.card{
 border-radius: 0.375rem;
}
.matchbtn {
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-color: black;
    border-radius: 0.375rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: 1em;
    width: 12%;
    color: #232c27;
    text-decoration: none;
}
.matchbtn:hover {
    color: white;
    font-weight: bolder;
    background-color: #B2D2FF;
}
/*bedrijf*/
.bedrijf{
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}
/*footer*/
.contact{
    text-decoration: none;
    color: #343a40;
    font-family: 'Lato', sans-serif;
}
.contact:hover{
    font-weight: bold;
}
.linksocial{
    display: flex;
    justify-content: space-between;
    gap: 2vw
}
.nieuwsbrief{
    font-size: 0.8em;
}
.icons{
    text-decoration: none;
    color: #343a40;
    font-size: 2em;
    margin: 5px;
}