/*algemeen*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
/* Remove default list styles and set display to inline-block */
/*nav*/
.iconlogo {
    width: 120px;
    height: 67px;
}

.active {
    font-weight: bold;
}
li a:hover {
    color: black;
    font-weight: bold;
}

#aanmeldbtn {
    background-color: #B2D2FF;
    border-color: #B2D2FF;
    color: white;
    font-weight: bold;
}

#aanmeldbtn:hover {
    font-weight: bolder;
    background-color: #66a6ff;
}
#registreren{
    color: black;
    font-weight: bold;
}
#registreren:hover{
    border-color: black;
}
/* Bedrijven tab */
#bedrijven div a img {
    width: 300px;
    height: 225px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin: 0.5rem 0.5rem 0 0.5rem;
}
#bedrijven div a.link section {
    width: 300px;
    height: 200px;
    background-color: #e4e4e4;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0 0.5rem 0.5rem 0.5rem;
}
#bedrijven div a.link section h2 {
    color: #3B3B3B;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 1rem 0 0 1.5rem;
    font-size: 35px;
}
#bedrijven div a.link {
    text-decoration: none;
}
#bedrijven div a.link section p {
    color: #3B3B3B;
    font-family: "PT Serif", serif;
    padding-left: 1.5rem;
}
#bedrijven div a.link section img {
    width: 150px;
    height: 25px;
    margin: 0;
    border-radius: 0;
    padding-left: 1rem;
    position: relative;
    bottom: 1.5rem;
}
#bedrijven div a.link section p.adres {
    position: relative;
    bottom: 0.7rem;
    font-family: Lato, sans-serif;
    font-style: italic;
}
#bedrijven div a.link section p.soort {
    position: relative;
    bottom: 1rem;
    font-size: 22px;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
/*footer*/
.contact{
    text-decoration: none;
    color: #343a40;
    font-family: 'Lato', sans-serif;
}
.contact:hover{
    font-weight: bold;
}
.linksocial{
    display: flex;
    justify-content: space-between;
    gap: 2vw
}
.nieuwsbrief{
    font-size: 0.8em;
}
.icons{
    text-decoration: none;
    color: #343a40;
    font-size: 2em;
    margin: 5px;
}