/* Remove default list styles and set display to inline-block */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

p {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: 22px;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

/*nav OK */
.iconlogo {
    width: 60px;
    height: 60px;
}

.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.active {
    font-weight: bold !important;
}

li a {
    color: black;
    margin-left: 2rem;
    transition: transform 0.3s ease-in-out;
}

li a:hover {
    color: #499aea !important;
    transform: scale(1.1);

}

#aanmeldbtn {
    background-color: #FFA500;
    border-color: #FFA500;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

#aanmeldbtn:hover {
    font-weight: bolder;
    transform: scale(1.1);

}

#registreren {
    color: black;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
}

#registreren:hover {
    color: #FFA500;
    transform: scale(1.1);
}

.fa-cart-shopping {
    margin-left: 20px;
    font-size: 20px;
    color: black;
}

.fa-cart-shopping:hover {
    color: #FFA500;
}

/* intro OK*/
.intro {
    background-color: #B2D2FF;
    height: 500px;
    position: relative;
}

.introtekst {
    color: white;
    position: absolute;
    right: 15vw;
}

.vrouwfoto {
    position: absolute;
    bottom: 0;
    left: 10vw;
}

.introfoto {
    width: 90%;
    height: auto;
}

.logo {
    width: 100%;
    height: auto;
}

.hoofdtitel {
    font-size: 70px;
    font-weight: bolder;
}

.hoofdtitel, .kleintitel {
    text-align: right;
}

/*counter OK*/
.counter {
    font-size: 25px;
    font-weight: bold;
}

.cijfers {
    font-size: 125px;
    padding: 0;
    margin: 0;
    font-family: 'PT Serif', serif;
}

/*qr en install OK */
.tekstcont {
    text-align: right;
    font-size: 20px;
}

.qr {
    width: 90%;
    height: auto;
}

.column_qr {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
}

.row-qr {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

.geelbolletje {
    position: absolute;
    left: 0;
    z-index: -1;
}

.blauwbolletje {
    position: absolute;
    right: 0;
    z-index: -1;
}


/*Hoe */
.titelh1 {
    font-size: 40px;
    font-weight: bold;
}

.pijl {
    width: 15px;
    height: 15px;
}

.hoe {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.hoe:hover {
    font-weight: bolder;
    color: #ED4F4F;
}

.scherm {
    transform: rotate(10deg);
    width: 80%;
    height: auto;
}

/*mathcmakers*/
.card {
    border-radius: 0.375rem;
    border: 2px solid lightgray;
    text-decoration: none;
}

.matchbtn {
    background-color: #FFA500;
    border-color: #FFA500;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.375rem;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    font-size: 1em;
    text-decoration: none;
}

.matchbtn:hover {
    background-color: #FFA500;
    border-color: #FFA500;
    color: white;
    font-weight: bolder;
    transform: scale(1.1);
}

/*bedrijf*/
.bedrijf {
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.adres {
    font-style: italic;
    font-size: 15px;
}

/*footer*/
footer {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.contact {
    text-decoration: none;
    color: #343a40;
    font-family: 'Lato', sans-serif;
}

.contact:hover {
    font-weight: bold;
}

.nieuwsbrief {
    font-size: 0.8rem;
}

.icons {
    text-decoration: none;
    color: #343a40;
    font-size: 2em;
}

@media screen
and (max-width: 1000px) {
    /*intro*/
    .introfoto, .qr, .geelbolletje, .blauwbolletje {
        display: none;
    }

    .hoofdtitel, .kleintitel, .logo {
        display: flex;
        justify-content: center;
    }

    .hoofdtitel {
        font-size: 50px;
    }

    .introtekst {
        right: 0;
    }

    /*qr*/
    .counter {
        display: none;
    }

    .tekstcont {
        text-align: center;
    }

    .facebook {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .credit, .socialcont {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .column_qr{
        margin-left: 0;
        margin-right: 0;
    }

    /*hoe*/
    .scherm {
        display: none;
    }

    .hwhcont {
        text-align: center;
    }

    .linksocial {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-content: start;
    }

}
