/*algemeen*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
h2{
    font-weight: bold;
}
/*nav*/
.iconlogo {
    width: 60px;
    height: 60px;
}

.active {
    font-weight: bold;
}
li a{
    color: black;
    margin-left: 2rem;
}
li a:hover {
    color: #499aea !important;
}

#aanmeldbtn {
    background-color: #B2D2FF;
    border-color: #B2D2FF;
    color: white;
    font-weight: bold;
}

#aanmeldbtn:hover {
    font-weight: bolder;
    background-color: #66a6ff;
}
#registreren{
    color: black;
    font-weight: bold;
}
#registreren:hover{
    border-color: black;
}
/* Bedrijven tab */
.bedrijf{
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}
.adres{
    font-style: italic;
    font-size: 15px;
}
.card-text{
    font-weight: bold;
}
/*footer*/
.contact{
    text-decoration: none;
    color: #343a40;
    font-family: 'Lato', sans-serif;
}
.contact:hover{
    font-weight: bold;
}
.linksocial{
    display: flex;
    justify-content: space-between;
    gap: 2vw
}
.nieuwsbrief{
    font-size: 0.8em;
}
.icons{
    text-decoration: none;
    color: #343a40;
    font-size: 2em;
    margin: 5px;
}