* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}
.iconlogo {
    width: 120px;
    height: 67px;
}

.active {
    font-weight: bold;
}

.pakket{
    height: 18rem;
}

.toppakket{
    height: 20rem;
}

.contact {
    margin-left: 2rem;
}

.icons {
    height: 1px;
}

.color {
    background-color: #84b8ff;
    color: white;
}

.border-color {
    border: 1px solid #84b8ff;
}